<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQL_Document_Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SQL_Document_Builder.Properties.Settings.edwConnectionString"
            connectionString="Data Source=svmsq06;Initial Catalog=AFDataMart_DEV;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient;" />
    </connectionStrings>
    <userSettings>
        <SQL_Document_Builder.Properties.Settings>
            <setting name="dbConnectionString" serializeAs="String">
                <value>Data Source=svmsq06;Initial Catalog=AFDataMart_DEV;Integrated Security=True</value>
            </setting>
            <setting name="LastAccessConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderText" serializeAs="String">
                <value />
            </setting>
            <setting name="FooterText" serializeAs="String">
                <value>&lt;/br&gt;
----
Back to [[BCCR: Database tables|BCCR database tables]]&lt;/br&gt;
Back to [[DW: Database tables|Data warehouse tables]]
[[Category: CSBC data warehouse]]
</value>
            </setting>
            <setting name="GrantSPPermission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIfExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SchemaSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="Templetes" serializeAs="String">
                <value />
            </setting>
            <setting name="UseExtendedProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InertMaxRows" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="InsertBatchRows" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Cascadia Code, 11.25pt</value>
            </setting>
            <setting name="AddDataSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDropStatement" serializeAs="String">
                <value>True</value>
            </setting>
        </SQL_Document_Builder.Properties.Settings>
    </userSettings>
</configuration>